/* Overall container */
.gallery-container {
    padding: 2rem;
    background-color: var(--background);
    color: var(--accent);
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* Search + Tabs layout */
  .gallery-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  
  .gallery-search {
    padding: 0.6rem 1rem;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    width: 100%;
    max-width: 900px;
    /* background-color: var(--accent); */
    color: black;
    outline: none;
  }
  
  .gallery-search::placeholder {
    color: #aaa;
  }
  
  /* Tabs for categories */
  .gallery-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
  }
  
  .gallery-tab {
    padding: 0.5rem 1rem;
    border: none;
    background-color: white;
    color: var(--accent);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s ease;
  }
  
  .gallery-tab.active,
  .gallery-tab:hover {
    background-color:var(--accent);
    /* border: 1px solid #fff; */
    color: white;
  }
  
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* smaller boxes */
    gap: 1rem; /* tighter spacing */
  }
  
  .gallery-item {
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease;
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.05);
  }
  
  .gallery-item:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 16px rgba(255, 255, 255, 0.2);
  }
  
  .gallery-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
  }
  
  .gallery-item p {
    padding: 0.75rem;
    font-size: 1rem;
    color: #676363;
    text-align: center;
  }






   .gallery-item {
    position: relative;
  }
  
  .gallery-hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .gallery-item:hover .gallery-hover-overlay {
    opacity: 1;
  }
  
  .gallery-icon {
    background: transparent;
    border: none;
    border-radius: 50%;
    padding: 0.6rem;
    cursor: pointer;
    font-size: 1.2rem;
    transition: transform 0.2s;
  }
  
  .gallery-icon:hover {
    transform: scale(1.1);
  } 
  
  /* Modal */
  /* .gallery-modal {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }*/
  
  /* .gallery-modal img {

    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
  } */






  @media (max-width: 768px) {
    .gallery-container {
      padding: 1rem;
      
    }
  }