/* Section Styling */
.notice-section {
    padding-top: 64px; /* Adjusted for spacing */
    padding-bottom: 64px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #e1d4b3;
  }
  
  .notice-header {
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
  }
  
  .notice-title {
    font-size: 4.5rem;
    font-weight: 600;
    color: #2d3748; /* Dark Gray */
  }
  
  .notice-description {
    margin-top: 16px;
    color: #718096; /* Lighter Gray */
    font-size: 1.125rem; /* Slightly larger text */
  }
  
  /* Grid for Project Cards */
  .notice-list {
    max-width: 1280px;
    margin: 40px auto 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }
  
  @media (min-width: 640px) {
    .notice-list {
      grid-template-columns: repeat(2, 1fr);
      gap: 32px;
    }
  }
  
  @media (min-width: 768px) {
    .notice-list {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
    }
  }
  
  /* Project Card Styling */
  .notice-card {
    background-color: #f5f4f3; /* Light Gray */
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .notice-image {
    border-radius: 8px;
    margin-bottom: 16px;
    width: 100%;
    height: 300px; /* Adjust based on image */
    object-fit: cover;
  }
  
  .notice-sub-title {
    font-size: 2rem;
    font-weight: 600;
    color: #2d3748; /* Dark Gray */
  }
  
  .notice-text {
    margin-top: 12px;
    color: #718096; /* Lighter Gray */
    font-size: 1rem;
  }
  