@import "tailwindcss";

#root { /* Or your main app container */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0; /* Removes default margin */
  font-family: 'Montserrat', sans-serif;
  background-color: var(--primary-bg);
}


:root {
  --font-base: "DM Sans", sans-serif;

  --bglight-color: #e4d4b3;
  --primary-color: #edf2f8;
  --white-color: #e4d4b3;
  --lightGray-color: #e4d4b3;
  --gray-color: #12274c;
  --brown-color: #0d1022;
  --black-color: #131625;

  --primary-bg: #e4d4b3;
  --accent: #D91A5F;

  
}

::-webkit-scrollbar {
  width: 4px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #e4d4b3;
  border-radius: 5px;
}

::-webkit-slider-thumb:hover {
  background-color: #777571;
}